<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sg.lwx.work.mapper.TransactionMapper">

    <resultMap id="BaseResultMap" type="sg.lwx.work.domain.Transaction">

        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="network" property="network" jdbcType="VARCHAR"/>
        <result column="nonce" property="nonce" jdbcType="BIGINT"/>
        <result column="transaction_hash" property="transactionHash" jdbcType="VARCHAR"/>
        <result column="from_address" property="fromAddress" jdbcType="VARCHAR"/>
        <result column="to_address" property="toAddress" jdbcType="VARCHAR"/>
        <result column="currency_id" property="currencyId" jdbcType="VARCHAR"/>
        <result column="currency_name" property="currencyName" jdbcType="VARCHAR"/>
        <result column="contract_address" property="contractAddress" jdbcType="VARCHAR"/>
        <result column="balance_delta" property="balanceDelta" jdbcType="DECIMAL"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="gas_fee" property="gasFee" jdbcType="DECIMAL"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="curr_block_no" property="currBlockNo" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `network`, `nonce`, `transaction_hash`, `from_address`, `to_address`, `currency_id`, `currency_name`,
        `contract_address`,
        `balance_delta`, `amount`, `gas_fee`, `type`, `status`, `curr_block_no`, `create_time`, `update_time`
    </sql>


    <select id="selectByHash" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"></include>
        from transaction
        where transaction_hash = #{transactionHash}
    </select>

    <insert id="insert" parameterType="sg.lwx.work.domain.Transaction">
        INSERT INTO `transaction`
        (`id`, `network`, `nonce`, `transaction_hash`, `from_address`, `to_address`, `currency_id`, `currency_name`, `contract_address`, `balance_delta`, `amount`, `gas_fee`, `type`, `status`, `curr_block_no`)
        VALUES (
        #{id,jdbcType=INTEGER},#{network,jdbcType=VARCHAR}, #{nonce,jdbcType=INTEGER},
        #{transactionHash,jdbcType=VARCHAR},
        #{fromAddress,jdbcType=VARCHAR}, #{toAddress,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR},
        #{currencyName,jdbcType=VARCHAR},
        #{contractAddress,jdbcType=VARCHAR}, #{balanceDelta,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL},
        #{gasFee,jdbcType=DECIMAL}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
        #{currBlockNo,jdbcType=BIGINT}
        )
    </insert>


</mapper>